@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

// variables
:root {
    // colors
    --color-primary: hsl(124, 46%, 51%);
    --color-secondary: hsl(0, 0%, 98%);
    --color-tertiary: hsl(197, 78%, 49%);
    --font-color: hsl(0, 0%, 96%);
    // background
    --background-color: hsl(0, 0%, 50%);
    --background-gray: hsl(0, 0%, 50%, 0.5);
    --background-green: hsla(124, 46%, 51%, 0.5);
    --background-gradient: linear-gradient(119deg, var(--background-gray) 54%, var(--background-green) 81%);

    // Fonts
    --font-primary: 'Roboto Flex', Arial, sans-serif;

    // spacing
    --nav-height: 60px;
    --hero-height: 2px;
    --footer-height: 40px;
}

* {
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

// nav and status sit on the top of the page
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--color-tertiary);
    z-index: 1;

    display: flex;
    flex-direction: row;
    grid-template-rows: 100%;
    align-items: center;

    border-bottom: 5px solid var(--color-primary);

    .name-box {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 20px;
        padding: 10px;
        padding-left: 30px;

        h3 {
            font-size: 1.9rem;
            font-weight: bold;
            color: var(--font-color);
            min-width: max-content;
        }
    }

    .icons {
        filter:invert(100%);
        display: flex;
        gap: 10px;
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            min-width: 30px;
        }
    }

    ul#nav-menu {
        display: flex;
        background: var(--color-tertiary);
        margin: 0;
        padding: 1rem;

        li {
            list-style: none;
            text-decoration: none;
            min-width: max-content;

            a {
                color: var(--color-secondary);
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}


// main content sits in the middle of the page, below the nav and hero
main {
    margin-top: var(--nav-height);
    position: relative;
    width: 100%;
    
    // keep the footer at the bottom of the page and fill the rest of the page
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));

    background: var(--background-color);
    background: var(--background-gradient);
    z-index: 0;
    padding: 30px;
    margin-bottom: 0;

    overflow: hidden;
    
    // header zoom animation
    h1, h2 {
        transform: scale(0.94);
        animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    }

    @keyframes scale {
        100% {
            transform: scale(1);
        }
    }

    @keyframes fade-in {
        100% {
            opacity: 1;
            filter: blur(0);
        }
    }
}


// footer sits at the bottom of the page
footer {
    // keep the paragraph from pushing main up instead of itself down. overflow: hidden; would work too.
    display: flow-root;

    // stay at the bottom of the page
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);

    background-color: var(--color-primary);
    text-align: center;
    margin:0;
}

@media screen and (max-width: 799px) {
    nav {
        .hamburger-icon {
            position: absolute;
            z-index: 1;
            top: 15px;
            right: 3vw;
            span {
                height: 5px;
                width: 40px;
                background-color: var(--color-secondary);
                display: block;
                margin: 5px 0;
                transition: 0.8s ease-in-out;
                transform: none;
            }
        }
        input.hamburger-checkbox {
            display: none;
        }
        #openmenu:checked ~ ul#nav-menu {
            // right: 0;
            transform: translateX(0);
        }
        #openmenu:checked ~ .hamburger-icon span:first-child {
            transform: translate(0%, 175%) rotate(-45deg);
            background-color: black;
        }
        #openmenu:checked ~ .hamburger-icon span:last-child {
            transform: rotate(45deg);
            background-color: black;
        }
        #openmenu:checked ~ .hamburger-icon span:nth-child(2) {
            opacity: 0;
        }
        ul#nav-menu {
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: -3px 0 10px hsl(0, 0%, 29%);
            border-radius: 10px 0 0 10px;
            flex-direction: column;
            width: max-content;
            height: 100vh;

            // open animation
            transform: translateX(100%);
            transform-origin: (0, 0);
            transition: 0.6s ease-in-out;


            li {
                margin: 6px 6vw 6px 30px;
            }
        }
    }
}


@media screen and (min-width: 800px) {
    nav {
        // gap: 13%;

        #openmenu, .hamburger-icon {
            display: none;
        }

        ul#nav-menu {
            align-items: center;
            justify-content: right;
            gap: 5%;
            height: 100%;
            width: 100%;
            // max-width: 1100px;
            margin-right:calc(10vw - 80px);
            padding: 0 2rem;
        }
    }
}