
main {
    .skill-list {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;

        border: 2px hsla(0, 0%, 0%, 0.632) solid;
        border-radius: 10px;

        margin-left: 15px;
        overflow: hidden;

        // create a list of skills with a bar on the bottom to represent the level of skill
        li {
            list-style-type: none;
            padding: 20px;

            .skill-level {
                // width: 80%;
                height: 10px;
                background-color: rgb(247, 118, 4);
            }
            // Change the color of the skill level bar based on the level of skill
        }
            
        .skill-container { 
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }


            &:hover {
                background-color: var(--color-primary);
                color: var(--font-color);
            }

            &:active {
                background-color: var(--color-primary);
                color: var(--font-color);
            }

            &:focus {
                background-color: var(--color-primary);
                color: var(--font-color);
            }
        }
    }

    .skills-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
    }
}