body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(170, 227, 250);
    font-size: 18px;
    line-height: 1.5;

}

#index-main {
    max-width: 900px;
    margin:0 auto;
}

header, footer {
    text-align: center;
    padding: 1.5rem;
    padding: 8px;
    background-color: rgb(4, 141, 151);
    color: #ffffff;
}

header h1 {
    font-size: 22px;
    font-style: italic;

}

main {
    padding: 0 15px;
}

main h2 {
    font-size:1rem;
    border-bottom: 1px solid black;
}

.profile {
    width:160px;
    height: auto;
}

footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, a:focus {
    color: white;
}
footer a:hover {
    color: #DDD;
}

footer {
    clear:both;
    text-align: center;
}
footer p.legal {
    margin-bottom: 9px;
    font-size:.9em;
}
footer p.highlight {
    color:yellow;
    font-size:.8em;
    margin-top:0;
}