main {
    max-width: 1200px;
    margin: 0 auto;

    #hero {
        img {
            width: 100%;
            margin: 0 auto;
        }
        h1 {
            width: 100%;
            background-color: hsl(200, 60%, 47%);
            color: white;
            padding: 10px 0 10px 20px;
            margin-top: -4px;
        }
    }
    .lower {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        margin-bottom: 20px;
        section {
            width: 100%;
            background-color: hsl(199, 100%, 87%);
            border-radius: 10px;
            overflow:hidden;
            p {
                padding: 10px;  
            }            
            h2 { 
                padding: 10px;
                margin: 0;
                background-color: hsla(4, 55%, 55%, 0.781);
                color: white;
            }
            li {
                margin: 0 10px;
            }
        }
        @keyframes increaseContrast {
            from {filter: contrast(1);}
            to {filter: contrast(1.3);}
        }
        @keyframes darkenBackground {
            from { background-color: hsl(199, 100%, 87%); }
            to { background-color: hsl(199, 90%, 80%); }
        }
        a:hover section {
            animation: darkenBackground;
            animation-duration: 0.5s;
            background-color: hsl(199, 90%, 80%);
            h2 {
                animation: increaseContrast;
                animation-duration: 1s;
                filter: contrast(1.3);
            }
        }
    }
}

