:root {
    --text-color: hsl(240, 1%, 27%);
}
main {

    h2 {
        font-size: 2em;
        color: var(--text-color);
        border-bottom: 2px solid var(--text-color);
    }
    
    form {
        margin: 0 auto;
        max-width: 500px;
        display: flex;
        flex-flow: column;
        padding: 20px;
        border-radius: 10px;
        color: var(--text-color);


        label {
            display: flex;
            flex-flow: column;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input, textarea {
            border: 1px solid hsl(0, 0%, 50%);
            border-radius: 10px;
            padding: 10px;
            // font-size: 1.5rem;
            font-weight: bold;
            color: hsl(0, 0%, 20%);
            margin-bottom: 10px;
        }

        button {
            background-color: var(--color-primary);
            border: none;
            border-radius: 10px;
            padding: 10px;
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    }
}