@import "normalize";

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    
    a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color:hsl(220, 44%, 30%);
    }
}
* {
    box-sizing: border-box;
}
header {
    font-family: 'Lora', serif;
    color: hsl(220, 44%, 30%);
    font-style: italic;
    margin-bottom: 20px;
    padding: 0 10px;
    background: rgb(33,141,190);
    background: linear-gradient(180deg, rgba(33,141,190,1) 95%, rgba(221,125,118,1) 95%);
    color: white;
    
    h3 {
        font-size: 1.8em;
        margin: 15px 0;
    }
    a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color:hsl(220, 44%, 30%);
    }
    section {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        max-width: 1200px;
        .logo {
            display: flex;
            flex-flow: row;
            margin: 0 auto 0 0;
            min-width: max-content;
            color: white;
            img {
                width: 30px;
                margin: auto;
                margin-right: 10px;
            }
            .icon {
                background-color: hsl(0, 0%, 100%);
                padding: 5px;
                border: 2px solid black;
                border-radius: 5px;
            }
        }
        
        #menu-icon {
            font-size: 2.5em;
            margin: auto 0;
        }
        .current {
            text-decoration: underline;
        }
        ul { // #navigation
            display: flex;
            flex-flow: column;
            padding-left: 0;
            margin-top: 0;
            text-align: center;
            list-style-type: none;
            width: 100%;
            li {
                padding-top: 15px;
                font-size: 1.3em;
                background: rgb(33,141,190);
                width: 100%;
            }
        }
    }
}
footer {
    background-color: rgb(149, 149, 149);
    padding: 5px;
    p {
        text-align: center;
        margin: 0;
    }
}
.responsive {
    display: none;
}

// Medium
@media only screen and (min-width: 650px) {
    .responsive {
        display: flex;
    }
    header section {
        #menu-icon {
            display: none;
        }
        .logo {
            margin-right: 1%;
        }
        h3 {
            margin: 10px 0;
        }
        #navigation {
            flex-flow: row;
            justify-content: space-between;
            text-align: left;
            margin: 8px 10px 10px 30px;
            li {
                padding-right: 30px;
                font-size: 1.2em;
                padding-top: 0;
            }
        }
    }  
}

@media only screen and (min-width: 920px) {
    header section {
        flex-flow: column start;
        flex-wrap: nowrap;
        #navigation {
            margin: auto 15px;
        }
    }   
}