body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
}
header {
    font-family: 'Lora', serif;
    color: hsl(220, 44%, 30%);
    font-style: italic;
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: hsl(199, 96%, 81%);
    #top-background {
        width: 100%;
        height: 90px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .icon {
        background-color: hsl(0, 0%, 100%);
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
    }
    h3 {
        font-size: 1.3em;
    }
    a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color:hsl(220, 44%, 30%);
    }
    section {
        display: flex;
        flex-flow: wrap;
        margin: 0 auto;
        max-width: 1200px;
        .logo {
            display: flex;
            flex-flow: row;
            margin: 0 auto 0 0;
            min-width: max-content;
            img {
                width: 30px;
                margin: auto;
                margin-right: 10px;
            }
        }
        #menu-icon {
            font-size: 2em;
            margin: 15px 0 0;
        }
        .current {
            text-decoration: underline;
        }
        ul { // #navigation
            display: flex;
            flex-flow: column;
            padding-left: 0;
            margin-top: 0;
            text-align: center;
            list-style-type: none;
            width: 100%;
            li {
                padding-top: 15px;
                font-size: 1.3em;
            }
        }
    }
}
footer {
    background-color: rgb(149, 149, 149);
    padding: 5px;
    p {
        text-align: center;
        margin: 0;
    }
}
.responsive {
    display: none;
}

// Medium
@media only screen and (min-width: 760px) {
    .responsive {
        display: flex;
    }
    header {
        #menu-icon {
            display: none;
        }
        section {
            .logo {
                margin-right: 1%;
            }
            flex-wrap: nowrap;
            #navigation {
                flex-flow: row;
                justify-content: space-between;
                text-align: left;
                margin: 8px 10px 10px 30px;
                li {
                    padding-right: 10px;
                    font-size: 1.2em;
                }
            }
        }
    }  
}

// @media only screen and (min-width: 900px) {
//     
// }