main {
    padding: 10px;
    #hero {
        img {
            max-height: 400px;
            object-fit: cover;
        }
    }
    .lower {
        grid-template-columns: 1fr 1fr;
        section {
            border-radius: 10px;
            overflow: hidden;
            img {
                float: right;
                width: 45%;
                margin: 20px 15px 0 0;
                object-fit: cover;
                border: solid 3px white;
                border-radius: 5px;
            }
        }
    }
}