main {
    .lower {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        section {
            height: 100%;
        }
        section.form {
            grid-column: span 2;
        }
    }
}