main {
    max-width: 1200px;
    margin: 0 auto;

    #hero {
        img {
            width: 100%;
            margin: 0 auto;
        }
        h1 {
            width: 100%;
            background-color: hsl(200, 60%, 47%);
            color: white;
            padding: 10px 0 10px 20px;
            margin-top: -4px;
        }
    }
    .lower {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        section {
            padding: 0 10px;
            width: 100%;
            background-color: hsl(199, 100%, 87%);

            img {
                width: 100%;
            }
            h3 {
                margin-bottom: 0;
            }
            p {
                margin: 0;
            }
        }
    }
}