main {
    max-width: 1200px;
    margin: 0 auto;

    #hero {
        img {
            width: 100%;
            margin: 0 auto;
        }
        h1 {
            width: 100%;
            background-color: hsl(200, 60%, 47%);
            color: white;
            padding: 10px 0 10px 20px;
            margin-top: -4px;
        }
    }
    .lower {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, min-content);
        grid-gap: 20px;
        section {
            width: 100%;
            background-color: hsl(199, 100%, 87%);
            border-radius: 10px;
            margin-bottom: 20px;
            height: min-content;
            img {
                width: 100%;
                object-fit: cover;
                height: 55%;
                margin-bottom: -4px;
            }
            h2 {
                background-color: hsl(200, 60%, 47%);
                padding: 10px;
                color: white;
                margin: 0;
                margin-bottom: 5px;
            }
            p {
                margin: 5px 10px;
            }
            ul {
                margin-top: 0;
                margin-bottom: 5px;
                // padding: 0;
            }

            form {
                padding: 0 10px;
                width: 100%;
                margin-bottom: 20px;

                fieldset {
                    margin: 1.5em 0;
                    border: 1px solid rgb(56, 56, 56);
                    border-radius: 10px;
                    padding: 0.5em 2%;
                }
                legend {
                    color:hsl(200, 91%, 26%);
                    margin: 0 1em;
                }
                label, div {
                    display: block;
                    padding-top: 1em;
                    color: hsl(19, 100%, 37%);
                    font-weight: bold;
                    input, select {
                        display: block;
                        font-size: 1em;
                        border-radius: 5px;
                        border: solid 1px rgb(65, 65, 65);
                        width: 100%;
                        max-width: 20rem;
                    }
                }
                textarea {
                    display: block;
                    width: 100%;
                    max-width: 20rem;
                }
                .submit {
                    background-color: hsla(4, 55%, 55%, 0.781);
                    color: white;
                    font-weight: bold;
                    font-size: 1em;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100%;
                    max-width: 21rem;
                }
            } // end form
        } // end section
    } // end .lower
} // end main