main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 5px;

    section.temple {
        margin: 0px;

        img {
            width: 100%;
        }
        h3 { // temple name
            background-color: hsla(4, 55%, 55%, 0.781);
            color: white;
            padding: 10px;
            margin: -4px 0;
        }
        .content {
            padding: 10px;
            h4 {
                margin: 5px 0 0;
            }
            p {
                margin-top: 0;
                margin-left: 10px;
            }
        }
        .weather {
            background-color: hsl(200, 60%, 47%);
        }
    } // end section.temple
}
