
main {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 99%;
    grid-template-rows: auto;
    grid-gap: 5px;
    section.temple {
        margin-left: 5px;
        img {
            max-width: 100%;
        }
        h4 {
            margin: 5px 0 0;
        }
        p {
            margin-top: 0;
            margin-left: 10px;
        }
    }
}
