main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero hero"
                                    "left right";
    grid-gap: 10px;
    #top {
        grid-area:hero;
    }
    #bottom-l {
        grid-area: left;
        width: 100%;
    }
    #bottom-r {
        width: 100%;
    }
}